<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <link rel ="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<header>
    <span class="title">MyShop</span>
    <div>
        <span>Koszyk</span>
        <span>(0)</span>
        <span>0</span>
        <span>zł</span>
    </div>
</header>

<div class="main-content">
    <div class="item">
        <p class="item-name">
            Laptop
        </p>
        <img src="https://gfx.senetic.com/i/gallery/91316572_9032439463.jpg" alt="">
        <div>
            <span>Cena:</span>
            <span>3000</span>
            <span>zł</span>
        </div>
        <a href="" class="add-btn">Dodaj</a>
    </div>
</div>
</body>
</html>